doctype html
html
  head
    title= title
    script(type="text/javascript", src="/javascripts/lib/angular.min.js")
    script(type="text/javascript", src="/javascripts/controllers/app.js")
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap-responsive.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
